---
import style from '../../styles/about.module.css'
const imageSource = "./me.png"
---

<div data-aos-duration="2000" class=`${style.image_about_border_orange}` ></div>
<div data-aos-duration="2000" class=`${style.image_about_border_blue}`></div>
<img class=`${style.image_about}` src={imageSource} />