---


---
<!-- data-aos="fade-right" data-aos-delay="300"  -->
<div class=" relative">
  <img class="w-64 h-40 left-[28.33px] top-[30px] absolute rounded-md" src="./certification-1.png" />
  <img class="w-72 h-44 left-[274.62px] top-[100px] absolute rounded-md" src="./certification-2.png" />
  <img class="w-80 h-56 left-0 top-[120px] absolute rounded-md" src="./certification-3.png" />
  <img class="w-72 h-52 left-[71.92px] top-[180px] absolute rounded-md" src="./certification-4.png" />
  <img class="w-80 h-56 left-[204.87px] top-[120px] absolute rounded-md" src="./certification-5.png" />
</div>