---
const img = "./me.png"
---

<div class="w-96 h-96 relative">
    <div class="w-96 h-96 left-[30px] top-0 absolute border-2 border-orange-200" data-aos="fade-down-right"></div>
    <div class="w-96 h-96 left-0 top-[40px] absolute border-2 border-cyan-800" data-aos="fade-up-left"></div>
    <img class="w-[318px] h-auto left-[40px] top-[25px] absolute shadow-lg" src={img} data-aos="zoom-out-left"/>
</div>