---

import style from '../../styles/about.module.css';

---

<button data-aos="fade-left" class=`${style.btn}` type="button" data-btn-info>Saiba mais</button>
<script>
    const openButton = document.querySelector("[data-btn-info]")
    const modal = document.getElementById("modal-about")
    openButton.addEventListener('click', () => {
        modal.showModal();
    })
</script>