---
import style from '../../styles/popup.module.css'
const text =
  "Me considero uma pessoa totalmente curiosa e autodidata por sempre estar explorando e estudando tudo que me interessa, e por ser entusiasta da tecnologia, games, mundo geek e música, acabei entrando no mundo da programação após o período da pandemia COVID-19, que gerou momentos difíceis durante minha carreira como músico. E durante 2022, meus amigos de longa data me incentivaram a voltar estudar T.I e explorar todas as possibilidades que a carreira de tecnologia oferecia. Então na metade deste mesmo ano dei o pontapé inicial em linguagem C, onde fique alguns meses decidindo qual caminho seguir, então descobri que me identificava com front-end e mundo web... O modo como consigo visualizar o meu código funcionando em tempo real no navegador acabou me deixou fascinado! Então até o presente momento venho me dedicando ao máximo explorando as atuais tecnologias referente ao desenvolvimento web com uma visão futura de me tornar um desenvolvedor web fullstack!";
---
<h2 class=`${style.title_popup}`>Saiba mais sobre mim...</h2>
<p class=`${style.text_popup}`>{text}</p>
