.describe {
    font-size: 18px;
    font-weight: 400;
}

.bold_blue_h {
    color: var(--color-blue-dark);
}

.bold_blue_s {
    color: var(--color-blue-soft)
}

.bold_blue_h, .bold_blue_s{
    font-weight: 700;
}

.btn {
    padding: 8px 14px;
    color: whitesmoke;
    background-color: var(--color-blue-dark);
    border-radius: 6px;
    font-weight: 700;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--color-blue-soft);
}