.subtitle {
    font-style: italic;
    color: var(--color-blue-dark);
}

.title_certification_describe {
    font-weight: 700;
    color: var(--color-blue-dark);
}

.name_certification_describe {
    font-weight: 600;
}