.container_footer {
    margin: 6rem 0 10px;
    padding: 6rem 0 10px;
}


.container_footer span:first-child {
    color: var(--color-blue-dark);
}

.container_footer span:last-child {
    color: var(--color-blue-soft);
}

.container_footer img {
    text-align: center;
    width: 10px;
}