.container_text > h1 {
    font-weight: 200;
}

.container_text > h2 {
    font-weight: 200;
}

.container_text > h3 {
    color: var(--color-blue-dark);
    font-weight: 900;
}

.container_text > span {
    color: var(--color-blue-soft);
}

li {
    margin: 8px;
}

.down_icon {
    filter: opacity(50%);
    animation: icon-anim 1s ease infinite alternate;
}

@keyframes icon-anim {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    }
}

.icon {
    width: 40px;
    transition: 0.5s;
    text-transform: capitalize;
}

.icon:hover {
    filter:opacity(85%) hue-rotate(40deg)
}