.container_about_popup::backdrop {
  backdrop-filter: blur(3px);
  background-color: rgb(0, 0, 0, 0.5);
}

.container_about_popup {
  text-align: center;
  align-items: center;
  border-radius: 18px;
  background-color: var(--bg-color-card);
  @apply py-5 w-11/12 md:w-10/12 2xl:w-8/12;
}

.title_popup {
  color: var(--color-blue-dark);
  @apply my-5 text-4xl font-extrabold;
}

.text_popup {
  color: var(--color-font-dark);
  @apply text-sm sm:text-lg lg:text-xl 2xl:text-2xl px-6 lg:px-28;
}

.container_modal_button {
  text-align: center;
  @apply mt-10 mb-4;
}

.container_modal_button button {
  font-weight: 600;
  color: var(--color-blue-dark);
  border: 1px solid var(--color-blue-dark);
  border-radius: 8px;
  transition: 400ms;
  @apply py-2 px-5;
}

.container_modal_button button:hover {
  color: var(--color-text-white);
  border: 1px solid var(--color-blue-dark);
  background-color: var(--color-blue-dark);
}
