.container_tecnologies {
  @apply grid grid-rows-1 text-center;
}

.description_tecnologies {
  @apply px-3;
}

.subtitle {
  @apply pt-10 text-xl lg:text-2xl xl:text-3xl;
}

.description_tecnologies span {
  color: var(--color-blue-soft);
  font-weight: 600;
}

.container_tecnologies_card {
  @apply flex flex-wrap justify-center gap-8 my-10 py-10;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--bg-color-card);
  box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, 0.25);
  border-radius: 16px;
  @apply py-2 md:py-4 lg:py-5;
  @apply px-8 md:px-10 lg:px-20;
}

.card > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @apply w-60 lg:w-72;
}

.card > div > h3 {
  flex-basis: 100%;
  color: var(--color-blue-dark);
  padding-bottom: 10px;
  font-weight: 600;
}

.card > div > img {
  margin: 5px;
  filter: saturate(0);
  transition: 0.5s;
  @apply w-7;
}

.card > div > img:hover {
  cursor: pointer;
  filter: saturate(1);
}
