---
import CertificationsImg from '../certifications-img/certifications-img.astro'
import CertificationsDescribe from '../certifications-describe/certifications-describe.astro'
---

<div id="container-certifications" class="grid grid-cols-2">
    <div>
        <h2>Certificados</h2>
        <p>“A cada dia um novo passo, um novo desafio, um novo aprendizado”</p>
        <CertificationsImg />
    </div>
    <div class="text-end">
        <CertificationsDescribe />
        <p>Entre outros que você pode conferir no meu Linkedin...</p>
    </div>
</div>