---

import ProjectsCard from '../projects-card/projects-card.jsx'

const response = await fetch('https://api.github.com/users/ldantsc/repos')
const data = await response.json()
console.log(data[2].name) 
---

<div id="container-projects">
    <div id="container-projects-title">
        <h2 class="title">Meu projetos</h2>
    </div>
    <div id="container-projects-card" class="flex flex-wrap gap-3">
        {data.map((data) => {
            return (
                <ProjectsCard title={data.name} description={data.description} url={data.html_url} client:only/>
            )
        })}
    </div>
    <div>
        <p class="italic text-end">Aguarde para mais projetos futuros...</p>
    </div>
</div>