---
import ProjectsCard from '../projects-card/projects-card.jsx'
---

<div id="container-projects">
    <div id="container-projects-title">
        <h2 class="title">Meu projetos</h2>
    </div>
    <div id="container-projects-card" class="flex">
        <ProjectsCard />
    </div>
    <div>
        <p class="italic text-end">Aguarde para mais projetos futuros...</p>
    </div>
</div>