---
import style from "../../styles/tecnologies.module.css"
import TecnologiesCard from '../tecnologies-card/tecnologies-card.jsx'

const iconsTech = [{
    id: 1, 
    title: "O.S",
    icon: ['./icons/windows.svg', './icons/ubuntu.ico']
},{     
    id: 2, 
    title: "Essentials",
    icon: ['./icons/html.svg', './icons/css.svg', './icons/js.svg', './icons/ts.svg', './icons/node.svg', './icons/git.svg']
}, {
    id: 3, 
    title: "Front Tools",
    icon: ['./icons/bootstrap.svg', './icons/figma.svg','./icons/framer.svg', './icons/tailwind.svg']
}, {
    id: 4, 
    title: "Libs & Frameworks",
    icon: ['./icons/react.svg', './icons/vite.svg', './icons/astro.svg', './icons/nextjs.svg']
}];

---


<div id="container-tecnologies" class="container grid grid-rows-1 text-center">
    <div id="container-describe-tecnologies" class=`${style.describe_tecnologies} my-10 py-20`>
        <h2 class="title py-7">Tecnologias</h2>
        <p class="py-7 text-3xl">Algumas das <span>tecnologias</span> que <span>utilizo e estudo</span> no meu dia a dia como desenvolvedor web</p>
    </div>
    <div id="container-tecnologies-card" class="flex flex-wrap justify-center gap-8">
        {iconsTech.map((tech) => {
            return <TecnologiesCard key={tech.id} title={tech.title} icons={tech.icon} client:only/>
        })}
    </div>

</div>