
:root {
    --bg-theme-white: #F5F4F0;
    --color-blue-dark: #1D4E89;
    --color-blue-soft: #1FBACE;
    --color-orange-soft: #FBD1A2;
    --color-orange-dark: #F79256;
    --color-font-dark: #585858;
}

html,
body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-theme-white);
    color: var(--color-font-dark);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

section {
    max-width: 100vw;
}

#container-home {
    height: 100vh;
    max-height: 100vh;
}

.serif {
    font-family: 'Quattrocento', Tahoma, Geneva, Verdana, sans-serif;
}
