---

import BaseLayout from "../layout/BaseLayout.astro";
import Main from "../components/main/main.astro";
import About from "../components/main/about.astro";
import Certifications from "../components/main/certifications.astro";
import Tecnologies from "../components/main/tecnologies.astro";
import Projects from "../components/main/projects.astro";
import "./global.css";

---

<BaseLayout>
	<section id="home" class="container">
		<Main />
	</section>
	<section id="about" class="container my-10 py-20">
		<About />
	</section>
	<section id="certifications" class="container my-10 py-20">
		<Certifications />
	</section>
</BaseLayout>
