---
const img = "./me.png"
---

<div class="w-96 h-96 relative">
    <div class="w-96 h-96 left-[34.35px] top-0 absolute border border-orange-200"></div>
    <div class="w-96 h-96 left-0 top-[40px] absolute border"></div>
    <img class="w-80 h-96 left-[50px] top-[21px] absolute" src={img} />
</div>