---
import style from "../../styles/footer.module.css";
---

<div
  data-aos="fade-in"
  id="container-footer"
  class=`${style.container_footer} container`
>
  <h2 class=`${style.title}`>
    <span class=`${style.span_custom}`>Obrigado por visitar !</span>
  </h2>
  <div>
    <a href="#" class=`${style.container_scroll}`>
      <img
        src="./arrowup.svg"
        alt="seta informativa para voltar ao topo da pagina"
      />
      <p>clique aqui para voltar ao topo</p>
    </a>
  </div>
</div>
