---

import style from '../../styles/footer.module.css'

---

<div id="container-footer" class=`${style.container_footer} text-end`>
    <h2 class="text-7xl font-extrabold"><span>Obrigado</span><span> pela visita</span></h2>
    <div>
        <a href="#" class="flex justify-end">
            <img src="arrowup.svg">
            <p class="pl-1">voltar ao topo</p>
        </a>
    </div>
</div>